[Unit]
Description=Go机器人
After=network.target
[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/www/go-bot

ExecStart=/www/go-bot/server

Restart=on-failure

RestartSec=5s

[Install]
WantedBy=multi-user.target