[Unit]
Description=Go-bot service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gobot
Group=gobot
WorkingDirectory=/opt/go-bot
ExecStart=/opt/go-bot/go-bot --config /opt/go-bot/configs/config.yml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
